
<html>
    <head>
    <title>
        add Employee
    </title>
    </head>
    <body>


<div class="aHl"></div><div id=":198" tabindex="-1"></div><div id=":18x" class="ii gt"><div id=":18w" class="a3s aiL msg-3820492043087046325"><u></u>

    <div class="m_-3820492043087046325body" style="background:#ebeef4;padding:0!important;margin:0!important;display:block!important;min-width:100%!important;width:100%!important"><img src="https://ci4.googleusercontent.com/proxy/GpDJRFso6ijR7sj1vKGVjckYisoP4vF1QGFzWWXvOD6VdV_CtwSSEXCXn878RIZnxh-legzYwp7jcVS0YaS8wOoRGNM-V76sp0OFXZTaJ156VBrT8Dtw7TYcj9TLaFVnY_Z67nCIT3iJXKSl2yavbbHgbuSujrowtmGT=s0-d-e1-ft#https://info.swiggy.in/tr/p.gif?uid=17383081831&amp;mid=1700722141&amp;msd=1622097037000&amp;s=KEOHOFLDHCACHNNG&amp;st=0" alt="" class="CToWUd" width="1" height="1">
        <table class="m_-3820492043087046325gwfw" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ebeef4">
            <tbody>
                <tr>
                    <td style="font-size:0pt;line-height:0pt;text-align:left" width="7"></td>
                    <td valign="top" align="center">
                        <table class="m_-3820492043087046325m-shell" width="600" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td class="m_-3820492043087046325td" style="width:600px;min-width:600px;font-size:0pt;line-height:0pt;padding:0;margin:0;font-weight:normal">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td class="m_-3820492043087046325fluid-img" style="font-size:0pt;line-height:0pt;text-align:left">
                                                        <a href="https://info.swiggy.in/re?l=D0Is4kdlpI7zhfrs7I0ITkp6j4t4w&amp;s=DJHCFINIOEMBOCNF" style="color:#1936e7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://info.swiggy.in/re?l%3DD0Is4kdlpI7zhfrs7I0ITkp6j4t4w%26s%3DDJHCFINIOEMBOCNF&amp;source=gmail&amp;ust=1622286579561000&amp;usg=AFQjCNGH53183QfI8nxjDME4x81LXdt9Hg">
                                                        <img src="https://ci3.googleusercontent.com/proxy/zdZlEq0K8QxXC7QUbySWaXd0L3ALCV1owggaehxWUE8SwzAZ_8hbX6kYgoVO-otAv3DP1oyrIEoQAPy6KpbOR-g9BLt2MnoKdRWBXpKi4ggEafRb4Q7iNOk82r1HQLpglWAPukCFFXeOjA=s0-d-e1-ft#https://info.swiggy.in/imgproxy/img/2036682367/d59be543-98a3-4ee0-93e9-c69291c50ad1.gif" alt="Get it on Swiggy Instamart. From milk and eggs to fruits and vegetables, get it all safely delivered in an instant" class="CToWUd" width="100%" height="100%" border="0"> </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="m_-3820492043087046325fluid-img" style="font-size:0pt;line-height:0pt;text-align:left">
                                                        <a href="https://info.swiggy.in/re?l=D0Is4kdlpI7zhfrs7I1ITkp6j4t4w&amp;s=DJHCFINIOEMBOCNF" style="color:#1936e7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://info.swiggy.in/re?l%3DD0Is4kdlpI7zhfrs7I1ITkp6j4t4w%26s%3DDJHCFINIOEMBOCNF&amp;source=gmail&amp;ust=1622286579561000&amp;usg=AFQjCNESgVnZHS4UNSamZeyAM1OlJEZVtw"> <img src="https://ci3.googleusercontent.com/proxy/L9wC_YjVyfuma_9OGjOF39geCWCY8iICyTiDNOKqY02ImN1KWL6tNb6jkZ4tgVkl59mgIJ9SdZnTKrTiirWEj2C_WSM1FR6XBYQtd1WN3ioBW9OIKDvz9unlnqNMPdaQHg=s0-d-e1-ft#https://info.swiggy.in/imgproxy/img/2036682368/Everyday-essentials-_nkifjt.jpg" class="CToWUd" width="100%" height="100%" border="0"> </a>
                                                    </td>
                                                </tr>
                                                                                          <tr>
                                                    <td class="m_-3820492043087046325fluid-img" style="font-size:0pt;line-height:0pt;text-align:left"></td>
                                                </tr>
                                                <tr>
                                                    <td class="m_-3820492043087046325fluid-img" style="font-size:0pt;line-height:0pt;text-align:left"></td>
                                                </tr>
                                                <tr>
                                                    <td class="m_-3820492043087046325fluid-img" style="font-size:0pt;line-height:0pt;text-align:left"></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:0pt;line-height:0pt;text-align:left;padding:40px 15px">
                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding-bottom:21px" align="center">
                                                                        <table cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="font-size:0pt;line-height:0pt;text-align:left" width="20">
                                                                                        <a href="https://info.swiggy.in/re?l=D0Is4kdlpI7zhfrs7I2ITkp6j4t4w&amp;s=DJHCFINIOEMBOCNF" style="color:#1936e7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://info.swiggy.in/re?l%3DD0Is4kdlpI7zhfrs7I2ITkp6j4t4w%26s%3DDJHCFINIOEMBOCNF&amp;source=gmail&amp;ust=1622286579561000&amp;usg=AFQjCNFVbsHM8b3h3riMIzTRaG62DioKpQ">
                                                                                        <img src="https://ci3.googleusercontent.com/proxy/w-4D9eawJ1gdhmIa_8AcH-iscP3bIG5nMMciVRMHPgB9X8cibOgYKGex51NkFaKwAv8H7WndlNRendGzIKhmLYDoY410_F5lqP21Nsk7=s0-d-e1-ft#https://info.swiggy.in/imgproxy/img/2036682369/11_2_1_f.png" class="CToWUd" width="35" height="35" border="0"> </a>
                                                                                    </td>
                                                                                    <td style="font-size:0pt;line-height:0pt;text-align:left" width="13"></td>
                                                                                    <td style="font-size:0pt;line-height:0pt;text-align:left" width="25">
                                                                                        <a href="https://info.swiggy.in/re?l=D0Is4kdlpI7zhfrs7I3ITkp6j4t4w&amp;s=DJHCFINIOEMBOCNF" style="color:#1936e7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://info.swiggy.in/re?l%3DD0Is4kdlpI7zhfrs7I3ITkp6j4t4w%26s%3DDJHCFINIOEMBOCNF&amp;source=gmail&amp;ust=1622286579561000&amp;usg=AFQjCNFHAQdUqChu2ojffnJXVm9BIrNiqA">
                                                                                        <img src="https://ci5.googleusercontent.com/proxy/LmKwYHVWUMqw20ApkQAKkuXOTD1qYN4dqd0fIB61PihtdBQSuly8fAdmmmVR0AnHf2CmwfCbEJVIm2oMBq_iyIOPjrVoLXYimfvvJ6H1=s0-d-e1-ft#https://info.swiggy.in/imgproxy/img/2036682370/12_3_2_f.png" class="CToWUd" width="30" height="30" border="0"> </a>
                                                                                    </td>
                                                                                    <td style="font-size:0pt;line-height:0pt;text-align:left" width="14"></td>
                                                                                    <td style="font-size:0pt;line-height:0pt;text-align:left" width="19">
                                                                                        <a href="https://info.swiggy.in/re?l=D0Is4kdlpI7zhfrs7I4ITkp6j4t4w&amp;s=DJHCFINIOEMBOCNF" style="color:#1936e7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://info.swiggy.in/re?l%3DD0Is4kdlpI7zhfrs7I4ITkp6j4t4w%26s%3DDJHCFINIOEMBOCNF&amp;source=gmail&amp;ust=1622286579561000&amp;usg=AFQjCNHZYzeM5I3D4sFnZG0G2Bu30S9qNw"> <img src="https://ci3.googleusercontent.com/proxy/WarQ07nuitHFNWHVdQpP33DpO7Hny6yy1RWmAgyIq6fBQyd0hdzsiI2vjldDCPd9ILurojzBmmBHREDZMcAVFz4xImHi7rCh3sOtILr_pjUdk39R2pc6EvNGUA=s0-d-e1-ft#https://info.swiggy.in/imgproxy/img/2036682371/13_4_6-Youtube_hfij7e.png" class="CToWUd" width="30" height="30" border="0">                                                                                        </a>
                                                                                    </td>
                                                                                    <td style="font-size:0pt;line-height:0pt;text-align:left" width="13"></td>
                                                                                    <td style="font-size:0pt;line-height:0pt;text-align:left" width="27">
                                                                                        <a href="https://info.swiggy.in/re?l=D0Is4kdlpI7zhfrs7I5ITkp6j4t4w&amp;s=DJHCFINIOEMBOCNF" style="color:#1936e7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://info.swiggy.in/re?l%3DD0Is4kdlpI7zhfrs7I5ITkp6j4t4w%26s%3DDJHCFINIOEMBOCNF&amp;source=gmail&amp;ust=1622286579561000&amp;usg=AFQjCNHRHywWuQJDR70-ahEE_gQkbKuU4g"> <img src="https://ci5.googleusercontent.com/proxy/zT5RuU9l0A8aXnCtnDmegxdvdWFVSrfdYcOxdIfnLbGnKbBPqkVSiCFPqPrqWFIcYYlw5kKlA88GeM2IV9FRaxBtNuBgt1nfgNK0xfYs=s0-d-e1-ft#https://info.swiggy.in/imgproxy/img/2036682372/14_5_4_f.png" class="CToWUd" width="30" height="30" border="0"> </a>
                                                                                    </td>
                                                                                    <td style="font-size:0pt;line-height:0pt;text-align:left" width="13"></td>
                                                                                    <td style="font-size:0pt;line-height:0pt;text-align:left" width="18">
                                                                                        <a href="https://info.swiggy.in/re?l=D0Is4kdlpI7zhfrs7I6ITkp6j4t4w&amp;s=DJHCFINIOEMBOCNF" style="color:#1936e7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://info.swiggy.in/re?l%3DD0Is4kdlpI7zhfrs7I6ITkp6j4t4w%26s%3DDJHCFINIOEMBOCNF&amp;source=gmail&amp;ust=1622286579561000&amp;usg=AFQjCNGBBPNI8nmZ-FnxD6DDbZPx7o8e2Q"> <img src="https://ci4.googleusercontent.com/proxy/_UIEV96cWQsQDRXF24a6d40dNzKeFmoSpXg1wVWzJ-ChApybzJVSi8LDEKuBNkUJH0X7MV9T6COg_XbGPewPDhHldJhoO06aEsyKCwts=s0-d-e1-ft#https://info.swiggy.in/imgproxy/img/2036682373/15_6_5-f.png" class="CToWUd" width="30" height="30" border="0"> </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="m_-3820492043087046325footer-text" style="color:#999b9f;font-family:Verdana;font-size:12px;line-height:25px;text-align:center;min-width:auto!important"> Don't want convenience delivered to your inbox? <a href="https://info.swiggy.in/public/unsubscribe.jsp?gid=1700205981&amp;uid=17383081831&amp;mid=1700722141&amp;sig=JIPMKFMCIDBCIMDG&amp;l=D0Is4kdlpI7zhfrs7I&amp;slt=4" style="color:#1936e7;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://info.swiggy.in/public/unsubscribe.jsp?gid%3D1700205981%26uid%3D17383081831%26mid%3D1700722141%26sig%3DJIPMKFMCIDBCIMDG%26l%3DD0Is4kdlpI7zhfrs7I%26slt%3D4&amp;source=gmail&amp;ust=1622286579561000&amp;usg=AFQjCNFIytH3y6v_x9UlCT_yr5OgIX3Bfw"><span style="color:#1936e7;text-decoration:none">Unsubscribe here</span></a>                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="font-size:0pt;line-height:0pt;text-align:left" width="7"></td>
                </tr>
            </tbody>
        </table><div class="yj6qo"></div><div class="adL">
    </div></div><div class="adL">
    
    
    </div></div></div><div id=":19b" class="ii gt" style="display:none"><div id=":19c" class="a3s aiL "></div></div><div class="hi"></div>

    </body>
    </html>